{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty Open API",
    "description": "Public HTTP API for the Flashduty incident management platform — incidents, notification templates, channels, schedules, monitors, RUM, and platform administration. Every operation is authenticated with an `app_key` query parameter issued from the Flashduty console under Account → APP Keys. Responses follow a uniform envelope: `{ request_id, data }` on success, `{ request_id, error }` on failure.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "On-call/Incidents",
      "description": ""
    },
    {
      "name": "On-call/Channels",
      "description": ""
    },
    {
      "name": "On-call/Alerts",
      "description": "Search, inspect, and act on alerts. Manage card views and alert processing pipelines."
    },
    {
      "name": "On-call/Integrations",
      "description": ""
    },
    {
      "name": "On-call/IM integrations",
      "description": "IM integration queries, such as which integrations have war room enabled."
    },
    {
      "name": "On-call/Schedules",
      "description": ""
    },
    {
      "name": "On-call/Licenses",
      "description": ""
    },
    {
      "name": "On-call/Calendars",
      "description": ""
    },
    {
      "name": "On-call/Notification templates",
      "description": ""
    },
    {
      "name": "On-call/Alert enrichment",
      "description": "Custom fields, enrichment rules, and data mapping (schema, data, API)."
    },
    {
      "name": "On-call/Analytics",
      "description": ""
    },
    {
      "name": "On-call/Status pages",
      "description": ""
    },
    {
      "name": "Monitors/Alert rules",
      "description": "Create, manage, and export monitor alert rules. Query rule counters and audit history."
    },
    {
      "name": "Monitors/Data sources",
      "description": "Manage monitoring data sources used by alert rules to query metrics."
    },
    {
      "name": "Monitors/Rule sets",
      "description": "Manage shared rule sets (rulesets) in the Monitors rule repository. Rulesets can be shared publicly or within an account."
    },
    {
      "name": "Platform/Members",
      "description": ""
    },
    {
      "name": "Platform/Teams",
      "description": ""
    },
    {
      "name": "Platform/Roles & permissions",
      "description": ""
    },
    {
      "name": "Platform/Audit logs",
      "description": "Search and retrieve account operation audit logs."
    },
    {
      "name": "Monitors/Diagnostics",
      "description": "Diagnostic and query endpoints used by Flashduty AI SRE — ad-hoc data source queries, log/metric diagnostics, and target-side tool invocation."
    },
    {
      "name": "Platform/Account",
      "description": "Account profile and settings"
    },
    {
      "name": "AI SRE/MCP servers",
      "description": "MCP (Model Context Protocol) server management."
    },
    {
      "name": "AI SRE/A2A agents",
      "description": "A2A (agent-to-agent) remote agent management."
    },
    {
      "name": "On-call/Changes",
      "description": ""
    },
    {
      "name": "AI SRE/Skills",
      "description": "AI SRE agent skill management."
    },
    {
      "name": "AI SRE/Sessions",
      "description": "AI SRE agent session history — list, inspect, and export transcripts."
    },
    {
      "name": "Monitors/Monitor utilities",
      "description": "Monitors service activation and data preview utilities."
    },
    {
      "name": "AI SRE/Automations"
    },
    {
      "name": "RUM/Applications",
      "description": "Manage Real User Monitoring (RUM) applications."
    },
    {
      "name": "RUM/Data query",
      "description": "Run RUM analytics queries over event data."
    },
    {
      "name": "RUM/Issues",
      "description": "Query and manage RUM error tracking issues and preset severity rules."
    },
    {
      "name": "RUM/Facets",
      "description": "Query RUM facet fields and their value distributions for building analytics filters."
    },
    {
      "name": "RUM/Sourcemaps",
      "description": "Manage and query RUM sourcemap files for browser, Android, and iOS error symbolication."
    },
    {
      "name": "RUM/Session replay",
      "description": "Retrieve session replay metadata and recorded segments for RUM sessions."
    }
  ],
  "paths": {
    "/incident/list": {
      "post": {
        "operationId": "incidentList",
        "summary": "List incidents",
        "description": "Query a paginated list of incidents with filters by channel, severity, status, responder, and time range.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-list",
          "metadata": {
            "sidebarTitle": "List incidents"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/IncidentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 88,
                    "has_next_page": true,
                    "search_after_ctx": "69da451ef77b1b51f40e83eb",
                    "items": [
                      {
                        "incident_id": "69da451ef77b1b51f40e83ee",
                        "account_id": 2451002751131,
                        "channel_id": 2551105804131,
                        "integration_id": 2490562293131,
                        "integration_ids": [
                          2490562293131
                        ],
                        "integration_types": [
                          "monit.alert"
                        ],
                        "dedup_key": "100128:prom-10.99.1.107:A:1579244238440766834:anydata",
                        "equals_md5": "",
                        "start_time": 1775912219,
                        "end_time": 0,
                        "last_time": 1775969819,
                        "ack_time": 0,
                        "close_time": 0,
                        "creator_id": 0,
                        "closer_id": 0,
                        "owner_id": 0,
                        "incident_status": "Critical",
                        "incident_severity": "Critical",
                        "progress": "Triggered",
                        "title": "CPU usage high - web-server-01",
                        "description": "",
                        "ai_summary": "",
                        "impact": "",
                        "root_cause": "",
                        "resolution": "",
                        "num": "0E83EE",
                        "frequency": "frequent",
                        "created_at": 1775912222,
                        "updated_at": 1775972145,
                        "snoozed_before": 0,
                        "group_method": "n",
                        "ever_muted": false,
                        "labels": {
                          "check": "cpu_usage_high",
                          "resource": "web-server-01",
                          "env": "production"
                        },
                        "fields": {},
                        "assigned_to": {
                          "person_ids": [
                            2476444212131
                          ],
                          "escalate_rule_id": "000000000000000000000000",
                          "layer_idx": 0,
                          "type": "assign",
                          "assigned_at": 1775972128,
                          "id": "MvQfH9Dc8eNS8k79jmrWn6",
                          "escalate_rule_name": ""
                        },
                        "alert_cnt": 1,
                        "active_alert_cnt": 1,
                        "alert_event_cnt": 17,
                        "responders": [
                          {
                            "person_id": 2476444212131,
                            "assigned_at": 1775972128,
                            "acknowledged_at": 0
                          }
                        ],
                        "account_name": "",
                        "account_locale": "",
                        "account_time_zone": "",
                        "channel_name": "Ops Channel",
                        "channel_status": "enabled",
                        "detail_url": "https://app.flashcat.cloud/incident/detail/69da451ef77b1b51f40e83ee",
                        "silence_url": "https://app.flashcat.cloud/channel/detail/2551105804131?tab=alertSuppression&fromIncidentId=69da451ef77b1b51f40e83ee",
                        "integration_type": "monit.alert",
                        "post_mortem_id": "",
                        "images": null,
                        "manual_overrides": [
                          "title"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListIncidentsRequest"
              },
              "example": {
                "start_time": 1711900800,
                "end_time": 1712000000,
                "progress": "Triggered,Processing",
                "incident_severity": "Critical,Warning",
                "channel_ids": [
                  2551105804131
                ],
                "limit": 20,
                "p": 1
              }
            }
          }
        }
      }
    },
    "/incident/info": {
      "post": {
        "operationId": "incidentInfo",
        "summary": "Get incident detail",
        "description": "Retrieve detailed information for a single incident including timeline, alerts, responders and custom fields.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-info",
          "metadata": {
            "sidebarTitle": "Get incident detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/IncidentInfo"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "incident_id": "69da451ef77b1b51f40e83ee",
                    "account_id": 2451002751131,
                    "channel_id": 2551105804131,
                    "integration_id": 2490562293131,
                    "integration_ids": [
                      2490562293131
                    ],
                    "integration_types": [
                      "monit.alert"
                    ],
                    "dedup_key": "100128:prom-10.99.1.107:A:1579244238440766834:anydata",
                    "equals_md5": "",
                    "start_time": 1775912219,
                    "end_time": 0,
                    "last_time": 1775969819,
                    "ack_time": 0,
                    "close_time": 0,
                    "creator_id": 0,
                    "closer_id": 0,
                    "owner_id": 0,
                    "incident_status": "Critical",
                    "incident_severity": "Critical",
                    "progress": "Triggered",
                    "title": "CPU usage high - web-server-01",
                    "description": "",
                    "ai_summary": "",
                    "impact": "",
                    "root_cause": "",
                    "resolution": "",
                    "num": "0E83EE",
                    "frequency": "frequent",
                    "created_at": 1775912222,
                    "updated_at": 1775972145,
                    "snoozed_before": 0,
                    "group_method": "n",
                    "ever_muted": false,
                    "labels": {
                      "check": "cpu_usage_high",
                      "resource": "web-server-01",
                      "env": "production"
                    },
                    "fields": {},
                    "assigned_to": {
                      "person_ids": [
                        2476444212131
                      ],
                      "escalate_rule_id": "000000000000000000000000",
                      "layer_idx": 0,
                      "type": "assign",
                      "assigned_at": 1775972128,
                      "id": "MvQfH9Dc8eNS8k79jmrWn6",
                      "escalate_rule_name": ""
                    },
                    "alert_cnt": 1,
                    "active_alert_cnt": 1,
                    "alert_event_cnt": 17,
                    "responders": [
                      {
                        "person_id": 2476444212131,
                        "assigned_at": 1775972128,
                        "acknowledged_at": 0
                      }
                    ],
                    "account_name": "",
                    "account_locale": "",
                    "account_time_zone": "",
                    "channel_name": "Ops Channel",
                    "channel_status": "enabled",
                    "detail_url": "https://app.flashcat.cloud/incident/detail/69da451ef77b1b51f40e83ee",
                    "silence_url": "https://app.flashcat.cloud/channel/detail/2551105804131?tab=alertSuppression&fromIncidentId=69da451ef77b1b51f40e83ee",
                    "integration_type": "monit.alert",
                    "post_mortem_id": "",
                    "images": null,
                    "manual_overrides": [
                      "title"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentInfoRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee"
              }
            }
          }
        }
      }
    },
    "/incident/list-by-ids": {
      "post": {
        "operationId": "incidentListByIds",
        "summary": "List incidents by IDs",
        "description": "Retrieve multiple incidents by their IDs in a single request.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-list-by-ids",
          "metadata": {
            "sidebarTitle": "List incidents by IDs"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/IncidentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 2,
                    "has_next_page": false,
                    "items": [
                      {
                        "incident_id": "69da451ef77b1b51f40e83ee",
                        "account_id": 2451002751131,
                        "channel_id": 2551105804131,
                        "integration_id": 2490562293131,
                        "integration_ids": [
                          2490562293131
                        ],
                        "integration_types": [
                          "monit.alert"
                        ],
                        "dedup_key": "100128:prom-10.99.1.107:A:1579244238440766834:anydata",
                        "equals_md5": "",
                        "start_time": 1775912219,
                        "end_time": 0,
                        "last_time": 1775969819,
                        "ack_time": 0,
                        "close_time": 0,
                        "creator_id": 0,
                        "closer_id": 0,
                        "owner_id": 0,
                        "incident_status": "Critical",
                        "incident_severity": "Critical",
                        "progress": "Triggered",
                        "title": "CPU usage high - web-server-01",
                        "description": "",
                        "ai_summary": "",
                        "impact": "",
                        "root_cause": "",
                        "resolution": "",
                        "num": "0E83EE",
                        "frequency": "frequent",
                        "created_at": 1775912222,
                        "updated_at": 1775972145,
                        "snoozed_before": 0,
                        "group_method": "n",
                        "ever_muted": false,
                        "labels": {},
                        "fields": {},
                        "assigned_to": {
                          "escalate_rule_id": "000000000000000000000000",
                          "layer_idx": 0,
                          "type": "",
                          "assigned_at": 0,
                          "id": "",
                          "escalate_rule_name": ""
                        },
                        "alert_cnt": 1,
                        "active_alert_cnt": 1,
                        "alert_event_cnt": 17,
                        "responders": [],
                        "account_name": "",
                        "account_locale": "",
                        "account_time_zone": "",
                        "channel_name": "Ops Channel",
                        "channel_status": "enabled",
                        "detail_url": "https://app.flashcat.cloud/incident/detail/69da451ef77b1b51f40e83ee",
                        "silence_url": "https://app.flashcat.cloud/channel/detail/2551105804131?tab=alertSuppression&fromIncidentId=69da451ef77b1b51f40e83ee",
                        "integration_type": "monit.alert",
                        "post_mortem_id": "",
                        "images": null,
                        "manual_overrides": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListIncidentsByIdsRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee",
                  "69da451ef77b1b51f40e83ef"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/alert/list": {
      "post": {
        "operationId": "incidentAlertList",
        "summary": "List alerts of incident",
        "description": "List all alerts merged into a specific incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |\n\n## Usage\n\n- Set `include_events=true` only when you need a preview of each alert's raw events.\n- Event previews are capped at the 20 newest events per alert. Use `POST /alert/event/list` for a full paginated event history.\n- `event_cnt` still reports the total number of raw events merged into each alert.",
          "href": "/en/api-reference/on-call/incidents/incident-alert-list",
          "metadata": {
            "sidebarTitle": "List alerts of incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListIncidentAlertsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "items": [
                      {
                        "alert_id": "69da451df77b1b51f40e83de",
                        "integration_id": 2490562293131,
                        "data_source_id": 2490562293131,
                        "channel_id": 2551105804131,
                        "account_id": 2451002751131,
                        "description": "",
                        "title": "CPU usage high - web-server-01",
                        "title_rule": "",
                        "alert_key": "100128:prom-10.99.1.107:A:1579244238440766834:anydata",
                        "alert_severity": "Critical",
                        "alert_status": "Critical",
                        "start_time": 1775912219,
                        "last_time": 1775969819,
                        "end_time": 0,
                        "labels": {
                          "check": "cpu_usage_high",
                          "resource": "web-server-01"
                        },
                        "ever_muted": false,
                        "created_at": 1775912221,
                        "updated_at": 1775969821,
                        "integration_name": "FlashMonit",
                        "integration_type": "monit.alert",
                        "integration_ref_id": "a_2451002751131",
                        "channel_name": "Ops Channel",
                        "channel_status": "enabled",
                        "responder_name": "",
                        "responder_email": "",
                        "incident": {
                          "incident_id": "69da451ef77b1b51f40e83ee",
                          "title": "CPU usage high - web-server-01",
                          "progress": "Triggered"
                        },
                        "event_cnt": 17,
                        "images": null,
                        "data_source_name": "FlashMonit",
                        "data_source_type": "monit.alert",
                        "data_source_ref_id": "a_2451002751131",
                        "events": [
                          {
                            "event_id": "69da451df77b1b51f40e83df",
                            "alert_id": "69da451df77b1b51f40e83de",
                            "title": "CPU usage > 90%",
                            "event_severity": "Critical",
                            "event_status": "Critical",
                            "event_time": 1712650000,
                            "labels": {
                              "host": "web-01"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListIncidentAlertsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "is_active": true,
                "limit": 100,
                "p": 1,
                "include_events": true
              }
            }
          }
        }
      }
    },
    "/incident/feed": {
      "post": {
        "operationId": "incidentFeed",
        "summary": "Get incident timeline",
        "description": "Retrieve the timeline feed for a specific incident, including state changes, comments and system events.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-feed",
          "metadata": {
            "sidebarTitle": "Get incident timeline"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListIncidentFeedResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "has_next_page": true,
                    "items": [
                      {
                        "ref_id": "69da451ef77b1b51f40e83ee",
                        "type": "i_new",
                        "detail": {
                          "severity": "Critical",
                          "title": "CPU usage high - web-server-01"
                        },
                        "account_id": 2451002751131,
                        "creator_id": 0,
                        "created_at": 1775912222661,
                        "updated_at": 1775912222661
                      },
                      {
                        "ref_id": "69da451ef77b1b51f40e83ee",
                        "type": "i_notify",
                        "detail": {
                          "rid": "5e9ccfabcd154b41a0005fd0f52b674b",
                          "msg_id": "naFudJYCawBWsChdV6ErPH",
                          "fire_type": "fire",
                          "escalate_rule_id": "000000000000000000000000",
                          "layer_idx": 0,
                          "by": "email",
                          "persons": [
                            {
                              "person_id": 2476444212131
                            }
                          ]
                        },
                        "account_id": 2451002751131,
                        "creator_id": 0,
                        "created_at": 1775972130174,
                        "updated_at": 1775972130174
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListIncidentFeedRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/incident/past/list": {
      "post": {
        "operationId": "incidentPastList",
        "summary": "List past incidents",
        "description": "List historical incidents related to the current incident for reference during triage.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **100 requests/minute**; **20 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-past-list",
          "metadata": {
            "sidebarTitle": "List past incidents"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListPastIncidentsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPastIncidentsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "limit": 5
              }
            }
          }
        }
      }
    },
    "/incident/create": {
      "post": {
        "operationId": "incidentCreate",
        "summary": "Create incident",
        "description": "Manually create a new incident and assign responders.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |\n\n## Usage\n\n- When an account create form applies, its visible custom fields and required system values must be supplied.\n- To attach images, send `multipart/form-data` with the JSON request in `data` and files in `images`; the complete request must not exceed 50 MiB.\n- Audited — changes are recorded in the audit log.",
          "href": "/en/api-reference/on-call/incidents/incident-create",
          "metadata": {
            "sidebarTitle": "Create incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CreateIncidentResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "incident_id": "69db2ef1a0fe7db6448b14f1",
                    "title": "API test incident for docs"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              },
              "example": {
                "incident_severity": "Critical",
                "title": "Database connection timeout on prod-db-01",
                "channel_id": 2551105804131,
                "assigned_to": {
                  "person_ids": [
                    2476444212131
                  ]
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "JSON-encoded CreateIncidentRequest payload."
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files attached to the new incident."
                  }
                }
              },
              "encoding": {
                "data": {
                  "contentType": "application/json"
                }
              }
            }
          }
        }
      }
    },
    "/incident/ack": {
      "post": {
        "operationId": "incidentAck",
        "summary": "Acknowledge incident",
        "description": "Acknowledge an incident to indicate you are actively working on it.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |\n\n## Usage\n\n- When an acknowledgement form applies, `custom_fields`, `summary`, and `images` must match its visible elements and required rules.\n- For a batch, form values are accepted only when every selected incident resolves to the same form; otherwise acknowledge incidents individually.\n- The legacy `values` and `custom_values` properties are rejected; use `custom_fields`.\n- Audited — changes are recorded in the audit log.",
          "href": "/en/api-reference/on-call/incidents/incident-ack",
          "metadata": {
            "sidebarTitle": "Acknowledge incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AckIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/unack": {
      "post": {
        "operationId": "incidentUnack",
        "summary": "Unacknowledge incident",
        "description": "Remove the acknowledge status from an incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-unack",
          "metadata": {
            "sidebarTitle": "Unacknowledge incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnackIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/resolve": {
      "post": {
        "operationId": "incidentResolve",
        "summary": "Resolve incident",
        "description": "Mark an incident as resolved.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |\n\n## Usage\n\n- When a resolution form applies, `custom_fields`, `summary`, and `images` must match its visible elements and required rules.\n- For a batch, form values are accepted only when every selected incident resolves to the same form; otherwise resolve incidents individually.\n- The legacy `values` and `custom_values` properties are rejected; use `custom_fields`.\n- Audited — changes are recorded in the audit log.",
          "href": "/en/api-reference/on-call/incidents/incident-resolve",
          "metadata": {
            "sidebarTitle": "Resolve incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ],
                "root_cause": "Memory leak in the connection pool caused by a missing cleanup call.",
                "resolution": "Deployed hotfix v2.3.1 and restarted the affected service."
              }
            }
          }
        }
      }
    },
    "/incident/reopen": {
      "post": {
        "operationId": "incidentReopen",
        "summary": "Reopen incident",
        "description": "Reopen a previously resolved incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-reopen",
          "metadata": {
            "sidebarTitle": "Reopen incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReopenIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ],
                "reason": "Monitoring detected the issue recurred after the initial fix."
              }
            }
          }
        }
      }
    },
    "/incident/snooze": {
      "post": {
        "operationId": "incidentSnooze",
        "summary": "Snooze incident",
        "description": "Temporarily snooze notifications for an incident until a specified time.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-snooze",
          "metadata": {
            "sidebarTitle": "Snooze incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnoozeIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ],
                "minutes": 60
              }
            }
          }
        }
      }
    },
    "/incident/wake": {
      "post": {
        "operationId": "incidentWake",
        "summary": "Wake incident",
        "description": "Cancel the snooze on an incident and resume notifications.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-wake",
          "metadata": {
            "sidebarTitle": "Wake incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WakeIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/merge": {
      "post": {
        "operationId": "incidentMerge",
        "summary": "Merge incidents",
        "description": "Merge one or more incidents into a target incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-merge",
          "metadata": {
            "sidebarTitle": "Merge incidents"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeIncidentsRequest"
              },
              "example": {
                "source_incident_ids": [
                  "69da451ef77b1b51f40e83ef",
                  "69da451ef77b1b51f40e83f0"
                ],
                "target_incident_id": "69da451ef77b1b51f40e83ee",
                "comment": "Merging related database connectivity incidents into one."
              }
            }
          }
        }
      }
    },
    "/incident/disable-merge": {
      "post": {
        "operationId": "incidentDisableMerge",
        "summary": "Disable incident merge",
        "description": "Disable automatic merging for a specific incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-disable-merge",
          "metadata": {
            "sidebarTitle": "Disable incident merge"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisableIncidentMergeRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/reset": {
      "post": {
        "operationId": "incidentReset",
        "summary": "Update incident fields",
        "description": "Update one or more editable fields of an incident in a single call, including title, description, impact, root cause, resolution, and severity. At least one field must be provided.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-reset",
          "metadata": {
            "sidebarTitle": "Update incident fields"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentFieldsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "title": "Database connection timeout - prod-db-01 primary",
                "incident_severity": "Critical"
              }
            }
          }
        }
      }
    },
    "/incident/remove": {
      "post": {
        "operationId": "incidentRemove",
        "summary": "Delete an incident",
        "description": "Permanently delete an incident and all associated data.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-remove",
          "metadata": {
            "sidebarTitle": "Delete an incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/comment": {
      "post": {
        "operationId": "incidentComment",
        "summary": "Add comment to incident",
        "description": "Add a text comment to the incident timeline.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-comment",
          "metadata": {
            "sidebarTitle": "Add comment to incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ],
                "comment": "Identified the root cause. Rolling back the deployment now."
              }
            }
          }
        }
      }
    },
    "/incident/assign": {
      "post": {
        "operationId": "incidentAssign",
        "summary": "Assign incident",
        "description": "Dispatch an incident to a specific escalation level or responder.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-assign",
          "metadata": {
            "sidebarTitle": "Assign incident"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignIncidentRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "assigned_to": {
                  "person_ids": [
                    2476444212131
                  ],
                  "type": "assign"
                }
              }
            }
          }
        }
      }
    },
    "/incident/responder/add": {
      "post": {
        "operationId": "incidentResponderAdd",
        "summary": "Add incident responder",
        "description": "Add a responder to an existing incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-responder-add",
          "metadata": {
            "sidebarTitle": "Add incident responder"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddIncidentResponderRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "person_ids": [
                  2476444212131,
                  2476444212132
                ]
              }
            }
          }
        }
      }
    },
    "/incident/field/reset": {
      "post": {
        "operationId": "incidentFieldReset",
        "summary": "Update incident custom field",
        "description": "Update a custom field value on an incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-field-reset",
          "metadata": {
            "sidebarTitle": "Update incident custom field"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetIncidentFieldRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "field_name": "affected_service",
                "field_value": "payment-service"
              }
            }
          }
        }
      }
    },
    "/incident/custom-action/do": {
      "post": {
        "operationId": "incidentCustomActionDo",
        "summary": "Execute custom action",
        "description": "Execute a custom action configured for an incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-custom-action-do",
          "metadata": {
            "sidebarTitle": "Execute custom action"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DoIncidentCustomActionResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "message": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoIncidentCustomActionRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "integration_id": 2490562293131
              }
            }
          }
        }
      }
    },
    "/incident/war-room/detail": {
      "post": {
        "operationId": "incidentWarRoomDetail",
        "summary": "Get war room detail",
        "description": "Retrieve the war room configuration and members for an incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-war-room-detail",
          "metadata": {
            "sidebarTitle": "Get war room detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WarRoom"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "chat_id": "oc_a0553eda9014c2de1b3a8f75b4e0c000",
                    "chat_name": "Incident #0E83EE war room",
                    "share_link": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWarRoomDetailRequest"
              },
              "example": {
                "integration_id": 2490562293131,
                "chat_id": "oc_a0553eda9014c2de1b3a8f75b4e0c000"
              }
            }
          }
        }
      }
    },
    "/incident/war-room/list": {
      "post": {
        "operationId": "incidentWarRoomList",
        "summary": "List war rooms",
        "description": "List all war rooms associated with an incident.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-war-room-list",
          "metadata": {
            "sidebarTitle": "List war rooms"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListWarRoomsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWarRoomsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee"
              }
            }
          }
        }
      }
    },
    "/incident/war-room/create": {
      "post": {
        "operationId": "incidentWarRoomCreate",
        "summary": "Create war room",
        "description": "Create a war room channel for collaborative incident response.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-war-room-create",
          "metadata": {
            "sidebarTitle": "Create war room"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WarRoom"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "chat_id": "oc_a0553eda9014c2de1b3a8f75b4e0c000",
                    "chat_name": "Incident #0E83EE war room",
                    "share_link": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWarRoomRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "integration_id": 2490562293131,
                "add_observers": true
              }
            }
          }
        }
      }
    },
    "/incident/war-room/delete": {
      "post": {
        "operationId": "incidentWarRoomDelete",
        "summary": "Delete war room",
        "description": "Delete an incident war room.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-war-room-delete",
          "metadata": {
            "sidebarTitle": "Delete war room"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWarRoomRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "integration_id": 2490562293131
              }
            }
          }
        }
      }
    },
    "/incident/post-mortem/info": {
      "get": {
        "operationId": "incidentPostMortemInfo",
        "summary": "Get post-mortem",
        "description": "Retrieve a post-mortem report by its `post_mortem_id`. List reports via `/incident/post-mortem/list` first — each row carries the incident it covers — then fetch the full report here by that id.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-post-mortem-info",
          "metadata": {
            "sidebarTitle": "Get post-mortem"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostMortemItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "meta": {
                      "account_id": 2451002751131,
                      "title": "Postmortem1",
                      "status": "published",
                      "post_mortem_id": "8104935102bf89dc01ac638a5261fe7e",
                      "template_id": "post_mortem_default_tmpl_en-us",
                      "incident_ids": [
                        "69bb9233331067560c718ecd"
                      ],
                      "media_count": 0,
                      "author_ids": [
                        2477273692131
                      ],
                      "team_id": 2477033058131,
                      "channel_id": 3047621227131,
                      "is_private": false,
                      "channel_name": "Ops Channel",
                      "created_at_seconds": 1773900354,
                      "updated_at_seconds": 1773909012
                    },
                    "basics": {
                      "incidents_highest_severity": "Warning",
                      "incidents_earliest_start_seconds": 1761133512,
                      "incidents_latest_close_seconds": 1761133632,
                      "incidents_total_duration_seconds": 120,
                      "responders": [
                        {
                          "person_id": 3790925372131,
                          "assigned_at": 1761133515,
                          "acknowledged_at": 0
                        }
                      ]
                    },
                    "content": {
                      "content": "{\"type\":\"doc\",\"content\":[]}"
                    },
                    "follow_ups": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "parameters": [
          {
            "name": "post_mortem_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Post-mortem ID. Deterministic hash derived from account ID and the set of linked incident IDs."
          }
        ]
      }
    },
    "/incident/post-mortem/list": {
      "post": {
        "operationId": "incidentPostMortemList",
        "summary": "List post-mortems",
        "description": "List post-mortem reports with optional filters.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Read** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-post-mortem-list",
          "metadata": {
            "sidebarTitle": "List post-mortems"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListPostMortemsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 3,
                    "has_next_page": false,
                    "items": [
                      {
                        "account_id": 2451002751131,
                        "title": "Postmortem1",
                        "status": "published",
                        "post_mortem_id": "8104935102bf89dc01ac638a5261fe7e",
                        "template_id": "post_mortem_default_tmpl_en-us",
                        "incident_ids": [
                          "69bb9233331067560c718ecd"
                        ],
                        "media_count": 0,
                        "author_ids": [
                          2477273692131
                        ],
                        "team_id": 2477033058131,
                        "channel_id": 3047621227131,
                        "is_private": false,
                        "channel_name": "Ops Channel",
                        "created_at_seconds": 1773900354,
                        "updated_at_seconds": 1773909012
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPostMortemsRequest"
              },
              "example": {
                "status": "published",
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/incident/post-mortem/delete": {
      "post": {
        "operationId": "incidentPostMortemDelete",
        "summary": "Delete post-mortem",
        "description": "Delete a post-mortem report.",
        "tags": [
          "On-call/Incidents"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Incidents Manage** (`on-call`) |",
          "href": "/en/api-reference/on-call/incidents/incident-post-mortem-delete",
          "metadata": {
            "sidebarTitle": "Delete post-mortem"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePostMortemRequest"
              },
              "example": {
                "post_mortem_id": "8104935102bf89dc01ac638a5261fe7e"
              }
            }
          }
        }
      }
    },
    "/channel/info": {
      "post": {
        "operationId": "channelInfo",
        "summary": "Get channel detail",
        "description": "Retrieve detailed information for a specific channel.",
        "tags": [
          "On-call/Channels"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |",
          "href": "/en/api-reference/on-call/channels/channel-info",
          "metadata": {
            "sidebarTitle": "Get channel detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChannelItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "channel_id": 1001,
                    "channel_name": "Production Alerts",
                    "status": "enabled",
                    "team_id": 10
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelInfoRequest"
              },
              "example": {
                "channel_id": 1001
              }
            }
          }
        }
      }
    },
    "/channel/list": {
      "post": {
        "operationId": "channelList",
        "summary": "List channels",
        "description": "List channels accessible to the current user with optional filters.",
        "tags": [
          "On-call/Channels"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |",
          "href": "/en/api-reference/on-call/channels/channel-list",
          "metadata": {
            "sidebarTitle": "List channels"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListChannelsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 42,
                    "has_next_page": true,
                    "items": [
                      {
                        "channel_id": 1001,
                        "channel_name": "Production Alerts",
                        "status": "enabled"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelsRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "orderby": "created_at",
                "asc": false
              }
            }
          }
        }
      }
    },
    "/channel/infos": {
      "post": {
        "operationId": "channelInfos",
        "summary": "Batch get channels",
        "description": "Retrieve multiple channels by their IDs.",
        "tags": [
          "On-call/Channels"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |",
          "href": "/en/api-reference/on-call/channels/channel-infos",
          "metadata": {
            "sidebarTitle": "Batch get channels"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChannelInfosResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "channel_id": 1001,
                        "channel_name": "Production Alerts",
                        "status": "enabled"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
[...]
